.item-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
  
  .item-details .item-image {
    width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  
  .item-details .list-group-item {
    padding: .25rem;
  }
  
  .item-details .list-group-item .term{
    margin-right: .5rem;
  }

  @media screen and (max-width: 580px) {
    .item-details {
      justify-content: center;
      text-align: center;
    }

    .item-details>* {
      flex: 1;
    }

    .item-image {
      margin-bottom: 1em;
    }
  }